<!DOCTYPE html>
<html>
    <title>Blog</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" type="text/css" rel="stylesheet">
     <link href="/stylesheets/blog.css" type="text/css"rel="stylesheet">
    <body>
        <div class=" ui fixed inverted menu">
            <div class= "ui container">
                <div class="header item"><i class="desktop icon"></i>@geek</div>
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">New Post</a>
            </div>
        </div>


   